body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.header-item {
    display: flex;
    align-items: center;
    font-size: 36px;
    /* font-size: 36px;
    font-weight: bold;
    font-family: cursive; */
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.coin {
    position: absolute;
    width: 60px;
    height: 60px;
    background: radial-gradient(circle at 30% 30%, #ffd700, #ffcc00);
    border-radius: 50%;
    box-shadow: 0 0 10px #ffcc00;
    opacity: 0;
    pointer-events: none;
}

#coin-counter {
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: 36px;
    z-index: 1000;
}

#coin-icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    background: radial-gradient(circle at 30% 30%, #ffd700, #ffcc00);
    border-radius: 50%;
    box-shadow: 0 0 10px #ffcc00;
}

.star {
    position: absolute;
    width: 12px;
    height: 12px;
    fill: yellow;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star svg {
    fill: #ffcc00; /* 明るい黄色 */
    stroke: #000; /* 黒い枠線 */
    stroke-width: 1px; /* 枠線の太さ */
  }

.gauge {
    width: 200px;
    height: 20px;
    background-color: #555;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.gauge .inner {
    height: 100%;
    background-color: #4caf50;
    transition: width 1s;
    width: 0%; /* 初期値 */
}

.gauge .inner.yellow {
    background-color: yellow;
}

.gauge .inner.red {
    background-color: red;
}

#heart-icon.heartbeat {
    animation: heartbeat 1s ease-in-out infinite;
    animation-iteration-count: 3;
}
  
@keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
}


main {
    padding-top: 60px;
    padding-bottom: 40px;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

h2 {
    font-size: 24px;
    font-family: 'Georgia', serif;
    color: #333;
    text-align: center;
    margin: 40px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.page {
    padding: 20px;
    line-height: 1.6;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    text-align: justify;
    max-width: 800px;
    margin: auto;
}

.page p {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

#startButton {
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #333;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px #a18900;
    transition: all 0.3s ease;
}

#countdown {
    font-size: 9rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    animation: scaleUp 1s ease-in-out infinite;
}

@keyframes scaleUp {
    0%, 20%, 100% {
        transform: scale(1);
    }
    80% {
        transform: scale(2);
    }
}

.animate-coin {
    animation: bounce 1s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* FINISHボタンのスタイル */
#finishButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px #666;
    transition: all 0.3s ease;
}

#finishButton:active {
    background-color: #45a049;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}


/* FINISH画面のアニメーション */
.finish-screen {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1s ease, transform 1s ease;
}

.page.fade-in {
    animation: fadeIn 1s forwards;
}

.page.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

#coins-container {
    margin: 20px auto;
    position: relative;
}

.drop-coin {
    position: absolute;
    font-size: 2rem;
    color: gold;
    animation: coinMove 1s ease-in-out forwards;
}

@keyframes coinMove {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }
    10% {
        transform: translateY(-110px) translateX(20px);
    }
    100% {
        transform: translateY(0) rotate(360deg);
        opacity: 0;
    }
}

.center {
    display: block;
    margin: 10px auto;
    text-align: center;
    color: #000;
}

.center a {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.center a:hover {
    background-color: #0056b3;
}
